.mainLayout {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.frame {
  max-width: 1400px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.header {
  margin: 1rem;
}

.main {
  flex-grow: 1;
  min-height: 0;
}